h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  font-weight: 400;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  display: block;
  padding: 0;
  border: none;
  background-color: unset;
  cursor: pointer;
}
button:disabled {
  cursor: unset;
}

a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../../public/fonts/Georgia.woff2") format("woff2"), url("../../public/fonts/Georgia.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  src: url("../../public/fonts/Georgia-Bold.woff2") format("woff2"), url("../../public/fonts/Georgia-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("../../public/fonts/ArialMT.woff2") format("woff2"), url("../../public/fonts/ArialMT.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "ArialItalic";
  font-weight: 400;
  font-style: italic;
  src: url("../../public/fonts/Arial-Italic.woff2") format("woff2"), url("../../public/fonts/Arial-Italic.woff") format("woff");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, -apple-system, "Times New Roman", Garamond, serif;
  position: relative;
  font-weight: 400;
  color: #545454;
  background-color: #b2b2b2;
  overflow-y: auto;
  -ms-overflow-style: none;
}
body.--scroll-locked {
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.img-in-picture {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}

h1 {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 44px;
    letter-spacing: 0em;
  }
}

h2,
.h2 {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 35px;
  }
}

.h4 {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) {
  .h4 {
    font-size: 20px;
    line-height: 1.15;
  }
}

.h5 {
  font-size: 13px;
  letter-spacing: 0.06em;
  line-height: 1.1;
}
@media (min-width: 1024px) {
  .h5 {
    line-height: 1.13;
    font-size: 15px;
  }
}

.paragraph-l {
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
}

.paragraph-s {
  font-family: ArialItalic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: #b2b2b2;
}

.container {
  width: calc(100% - 20px);
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: calc(100% - 80px);
    padding: 0 40px;
  }
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.link::before {
  position: absolute;
  display: block;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  content: "";
}
.link:after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  width: 0;
  height: 3px;
  background-color: #f1cdb3;
  transition: width 0.15s ease-out;
}
.link--active {
  cursor: default;
}
@media (hover: hover) {
  .link:hover, .link--active {
    color: #292929;
  }
}
.link:active:after, .link--active:after {
  width: 100%;
}
.link--dark {
  color: #cdcdcd;
}
@media (hover: hover) {
  .link--dark:hover {
    color: #fafafa;
  }
}
@media (hover: hover) {
  .link--dark.link--active:hover {
    color: #cdcdcd;
  }
}
.link--dark:active {
  color: #fafafa;
}
.link--mobile {
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 32px;
  line-height: 1.6;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__container {
  padding: 30px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__container {
    padding: 30px 0 0;
  }
}
.header__logo.--active {
  pointer-events: none;
}
.header__logo-title, .header__logo-subtitle {
  transition: color 0.3s ease-out;
}
.header__logo-title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.header__logo-subtitle {
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
@media (hover: hover) {
  .header__logo:hover .header__logo-title, .header__logo:hover .header__logo-subtitle {
    color: #fddcc4;
  }
}
.header__logo:active .header__logo-title, .header__logo:active .header__logo-subtitle {
  color: #fafafa;
}
.header--secondary {
  position: relative;
  height: 120px;
  background-color: #ffffff;
}
.header--secondary .header__logo-title {
  color: #545454;
}
.header--secondary .header__logo-subtitle {
  color: #292929;
}
@media (hover: hover) {
  .header--secondary .header__logo:hover .header__logo-title, .header--secondary .header__logo:hover .header__logo-subtitle {
    color: #f1cdb3;
  }
}
.header--secondary .header__logo:active .header__logo-title, .header--secondary .header__logo:active .header__logo-subtitle {
  color: #fddcc4;
}
.header__mobile-nav {
  display: block;
}
@media (min-width: 768px) {
  .header__mobile-nav {
    display: none;
  }
}
.header__mobile-button {
  position: relative;
  z-index: 1;
  display: block;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
}
.header__mobile-button-line {
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
  transition: background-color 0.3s ease-out;
}
.header__mobile-button-line--dark {
  background-color: #000;
}
@media (hover: hover) {
  .header__mobile-button:hover .header__mobile-button-line {
    background-color: #fafafa;
  }
  .header__mobile-button:hover .header__mobile-button-line--dark {
    background-color: #f1cdb3;
  }
}
.header__mobile-button:active .header__mobile-button-line {
  background-color: #fddcc4;
}
.header__mobile-button.--opened {
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .header__mobile-button {
    display: none;
  }
}

.nav {
  display: none;
}
.nav__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 36px;
}
@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

.mobile-nav {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 0;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}
.mobile-nav.--visible {
  opacity: 1;
  width: unset;
  overflow: visible;
}
.mobile-nav.--visible .mobile-nav__list {
  transform: translateX(-100%);
}
.mobile-nav.--visible .mobile-nav__overlay {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: rgba(41, 41, 41, 0.6);
}
.mobile-nav.--visibility-unset {
  visibility: unset;
}
.mobile-nav__overlay {
  position: absolute;
  transition: background-color 0.4s ease-out;
  width: 0;
  height: 0;
  right: 0;
  content: "";
}
.mobile-nav__list {
  position: relative;
  right: -100%;
  height: calc(100% - 86px);
  padding: 43px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #292929;
  transition: transform 0.3s ease-out;
}
.mobile-nav__list--light {
  background-color: #ffffff;
}

.footer {
  position: relative;
  background-image: url("../images/start-screen-texture.png");
}
.footer::before {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  content: "";
}
.footer__container {
  padding-top: 30px;
}
@media (min-width: 640px) {
  .footer__container {
    padding: 30px 34px 0;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    padding: 40px 0 0;
    display: flex;
    justify-content: space-between;
    column-gap: 5vw;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    column-gap: 160px;
  }
}
.footer__link-area {
  width: 100%;
  margin-bottom: 40px;
  align-self: flex-start;
  flex-grow: 1;
  text-align: center;
}
.footer__link-area > * {
  margin-bottom: 40px;
  margin: 0 auto 40px;
}
.footer__link-area > *:last-child {
  min-width: 300px;
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .footer__link-area > *:last-child {
    min-width: unset;
  }
}
@media (min-width: 640px) {
  .footer__link-area > * {
    margin: 0;
  }
}
@media (min-width: 640px) {
  .footer__link-area {
    margin-bottom: 65px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    row-gap: 32px;
    column-gap: 8.7%;
  }
}
@media (min-width: 1024px) {
  .footer__link-area {
    width: fit-content;
    margin-bottom: 0;
    padding: 17px 0;
    column-gap: 5vw;
  }
}
@media (min-width: 1280px) {
  .footer__link-area {
    column-gap: 150px;
  }
}
.footer__title {
  max-width: 10.8em;
  color: #ffffff;
}
@media (min-width: 640px) {
  .footer__title {
    max-width: 8em;
    text-align: left;
  }
}
.footer__link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #f1cdb3;
  transition: all 0.3s ease-out;
}
.footer__link-text {
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  text-wrap: nowrap;
  text-align: left;
}
@media (hover: hover) {
  .footer__link:hover {
    color: #f6f6f6;
  }
  .footer__link:hover path {
    fill: #f6f6f6;
  }
}
.footer__link:active {
  color: #fddcc4;
}
.footer__link:active path {
  fill: #fddcc4;
}
.footer__picture {
  display: block;
  width: 86%;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .footer__picture {
    width: unset;
  }
}
@media (min-width: 1024px) {
  .footer__picture {
    width: 25%;
    margin: 0;
  }
}

.button {
  display: block;
  width: fit-content;
  text-wrap: nowrap;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  background-color: #f1cdb3;
  border-radius: 100px;
  user-select: none;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.button--secondary {
  padding: 13px 43px;
  border: 2px #f1cdb3 solid;
  background-color: unset;
}
@media (hover: hover) {
  .button--active:hover {
    background-color: #fddcc4;
  }
}
.button--active:active {
  background-color: #ffffff;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media (hover: hover) {
  .arrow-button:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
  }
}
.arrow-button:active, .arrow-button.--active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}
@media (hover: hover) {
  .arrow-button.--active:hover {
    background-color: #f1cdb3;
    border-color: #f1cdb3;
  }
}
.arrow-button.--active {
  cursor: default;
}
.arrow-button.--check {
  outline: 2px solid lavender;
}
.arrow-button:disabled {
  background-color: unset;
  border-color: #cdcdcd;
  color: #cdcdcd;
}
.arrow-button:disabled path {
  fill: #cdcdcd;
}

.card {
  position: relative;
  width: 270px;
  padding-bottom: 30px;
  background-color: #fafafa;
  border-radius: 9px;
  transition: background-color 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  flex-shrink: 0;
}
.card__picture {
  display: block;
  width: 100%;
  margin-bottom: 26px;
}
.card__picture img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.card__title {
  margin-bottom: 30px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #545454;
}
.card__button {
  position: relative;
  margin: 0 auto;
}
.card__button::after {
  position: absolute;
  left: -43px;
  bottom: -32px;
  display: block;
  width: 270px;
  height: 431px;
  content: "";
}
@media (hover: hover) {
  .card:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1), 0 4px 3px 0 rgba(41, 41, 41, 0.1);
  }
  .card:hover .button {
    background-color: #fddcc4;
    border-color: #fddcc4;
  }
}

.popup {
  position: fixed;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.popup.--visible {
  opacity: 100%;
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: rgba(41, 41, 41, 0.7);
  content: "";
  visibility: hidden;
  transition: visibility 0.3s ease-out;
}
.popup.--visible .popup__overlay {
  visibility: unset;
}
.popup__container {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: clamp(240px, 71%, 900px);
  display: flex;
  background-color: #fafafa;
  border-radius: 9px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: visibility 0.3s ease-out;
}
@media (min-width: 1024px) {
  .popup__container {
    width: clamp(240px, 70.5%, 900px);
  }
}
.popup.--visible .popup__container {
  visibility: unset;
}
.popup__button {
  position: absolute;
  top: -54px;
  right: -33px;
}
@media (min-width: 640px) {
  .popup__button {
    top: -52px;
    right: -42px;
  }
}
.popup__picture {
  display: none;
  min-width: 55.5%;
}
@media (min-width: 768px) {
  .popup__picture {
    display: flex;
    align-items: center;
  }
}
.popup__picture .img-in-picture {
  border-radius: 9px;
}
.popup__content {
  padding: 10px;
}
@media (min-width: 1024px) {
  .popup__content {
    padding: 50px 20px 50px 29px;
  }
}
.popup__name {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 35px;
}
.popup__race {
  font-size: 20px;
  text-transform: capitalize;
}
.popup__text {
  text-align: justify;
}
@media (min-width: 768px) {
  .popup__text {
    text-align: left;
  }
}
.popup__race, .popup__name {
  text-align: center;
}
@media (min-width: 768px) {
  .popup__race, .popup__name {
    text-align: left;
  }
}
.popup__race, .popup__text {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .popup__race, .popup__text {
    margin-bottom: 40px;
  }
}
.popup__feature-item {
  position: relative;
  margin-bottom: 8px;
  padding-left: 14px;
  font-size: 15px;
  line-height: 1;
}
.popup__feature-item::before {
  position: absolute;
  display: inline-block;
  top: 0.4em;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #f1cdb3;
  content: "";
}
@media (min-width: 1024px) {
  .popup__feature-item {
    margin-bottom: 14px;
  }
}
.popup__feature-name {
  font-weight: 700;
}
.popup.--visible {
  opacity: 100%;
}

.cross-icon {
  position: relative;
  width: 17px;
  height: 17px;
}
.cross-icon::before, .cross-icon::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #292929;
  transform-origin: center;
  content: "";
}
.cross-icon::before {
  transform: rotate(45deg);
}
.cross-icon::after {
  transform: rotate(-45deg);
}

.pets-page {
  background-color: #f6f6f6;
}
.pets-page__container {
  padding: 42px 0;
}
@media (min-width: 640px) {
  .pets-page__container {
    padding: 80px 0 76px;
  }
}
@media (min-width: 1280px) {
  .pets-page__container {
    padding-bottom: 100px;
  }
}
.pets-page__title {
  margin-bottom: 42px;
  text-align: center;
}
@media (min-width: 640px) {
  .pets-page__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .pets-page__title {
    margin-bottom: 60px;
  }
}
.pets-page__list {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  min-height: 1350px;
}
@media (min-width: 640px) {
  .pets-page__list {
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 35px;
  }
}
@media (min-width: 840px) {
  .pets-page__list {
    min-height: 893px;
  }
}
@media (min-width: 1024px) {
  .pets-page__list {
    min-height: 1354px;
  }
}
@media (min-width: 1265px) {
  .pets-page__list {
    min-height: 892px;
  }
}
@media (min-width: 1280px) {
  .pets-page__list {
    margin-bottom: 60px;
  }
}
.pets-page__navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 640px) {
  .pets-page__navigation {
    gap: 20px;
  }
}
