@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("/fonts/Georgia.woff2") format("woff2"), url("fonts/Georgia.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("/fonts/ArialMT.woff2") format("woff2"), url("/fonts/ArialMT.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ArialItalic";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Arial-Italic.woff2") format("woff2"), url("/fonts/Arial-Italic.woff") format("woff");
  font-display: swap;
}

@mixin font-family-serif {
  font-family: Georgia, -apple-system, 'Times New Roman', Garamond, serif;
}

@mixin font-family-sans {
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

@mixin font-family-sans-italic {
  font-family: ArialItalic, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;

body {
  @include font-family-serif;
  position: relative;
  font-weight: 400;
  color: $color-dark-l;
  background-color: #372C26;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.h2 {
  font-size: 44px;
  line-height: 1.3;
}

h3 {
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.container {
  width: calc(100% - 80px);
  max-width: 1920px;
  padding: 0 40px;
  margin: 0 auto;
}

.paragraph-l {
  @include font-family-sans;
  font-size: 15px;
  line-height: 1.6;
  color: $color-dark-xl;
}

.paragraph-s {
  @include font-family-sans-italic;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: $color-dark-m;
}

.link {
  position: relative;
  padding: 5px;
  text-decoration: none;
  transition: color 0.15s ease-out;

  &:hover {
  }

  &:active {
    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    width: 0;
    height: 3px;
    background-color: $color-primary;
    transition: width 0.15s ease-out;
  }

  &--dark {
    color: $color-dark-s;

    &:active {
      color: $color-light-s;
    }

    &:hover {     
      color: $color-light-s;
    }
  }
}

.button {
  display: block;
  width: fit-content;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  text-decoration: none;
  background-color: $color-primary;
  border-radius: 100px;
  transition: background-color 0.15s ease-out;

  &:hover {
    background-color: $color-primary-light;
  }

  &:active {
    background-color: $color-light-xl;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;

  &__container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &-title {
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 1.1;
      letter-spacing: 0.06em;
      color: $color-primary;
    }

    &-subtitle {
      text-align: center;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    gap: 35px;
  }
}

.section-hero {
  position: relative;
  background-image: url('/images/start-screen-texture.png');

  &::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    content: '';
  }

  &__container {
    position: relative;
    padding: 350px 0 243px;
  }

  &__title {
    max-width: 7.4em;
    margin-bottom: 42px;
    color: $color-light-xl;
  }

  &__intro {
    max-width: 30.6em;
    margin-bottom: 42px;
    color: $color-dark-s;
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}