.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  color: $color-dark-3xl;
  border: 2px solid $color-primary;
  border-radius: 100px;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  @include hover-media-query {
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  &:active,
  &.--active,
  &.--active:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &.--active {
    cursor: default;
  }

  &.--check {
    outline: 2px solid lavender;
  }

  &:disabled {
    background-color: unset;
    border-color: $color-dark-s;
    color: $color-dark-s;

    & path {
      fill: $color-dark-s;
    }
  }
}
