.button {
  display: block;
  width: fit-content;
  text-wrap: nowrap;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  text-decoration: none;
  background-color: $color-primary;
  border-radius: 100px;
  user-select: none;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

  &--secondary {
    padding: 13px 43px;
    border: 2px $color-primary solid;
    background-color: unset;
  }

  &--active {
    @include hover-media-query {
      &:hover {
        background-color: $color-primary-light;
      }
    }

    &:active {
      background-color: $color-light-xl;
    }
  }
}
