.link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-out;

  &::before {
    position: absolute;
    display: block;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    content: "";
  }

  &:after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    width: 0;
    height: 3px;
    background-color: $color-primary;
    transition: width 0.15s ease-out;
  }

  &--active {
    cursor: default;
  }

  &:hover,
  &--active {
    color: $color-dark-3xl;
  }

  &:active,
  &--active {
    &:after {
      width: 100%;
    }
  }

  &--dark {
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }

    &.link--active {
      &:hover {
        color: $color-dark-s;
      }
    }

    &:active {
      color: $color-light-s;
    }
  }

  &--mobile {
    @include font-family-sans;
    font-size: 32px;
    line-height: 1.6;
  }
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;

  &__container {
    padding: 30px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $media-tablet) {
      padding: 30px 0 0;
    }
  }

  &__logo {
    &-title,
    &-subtitle {
      transition: color 0.2s ease-out;
    }

    &-title {
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 1.1;
      letter-spacing: 0.06em;
      color: $color-primary;
    }

    &-subtitle {
      @include font-family-sans;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.1em;
      color: $color-light-xl;
    }

    &:hover {
      & .header__logo {
        &-title,
        &-subtitle {
          color: $color-primary-light;
        }
      }
    }

    &:active {
      & .header__logo {
        &-title,
        &-subtitle {
          color: $color-light-s;
        }
      }
    }
  }

  &--secondary {
    position: relative;
    height: 120px;
    background-color: $color-light-xl;

    & .header__logo-title {
      color: $color-dark-l;
    }

    & .header__logo-subtitle {
      color: $color-dark-3xl;
    }

    & .header__logo:hover {
      & .header__logo {
        &-title,
        &-subtitle {
          color: $color-primary;
        }
      }
    }

    & .header__logo:active {
      & .header__logo {
        &-title,
        &-subtitle {
          color: $color-primary-light;
        }
      }
    }
  }

  &__mobile-nav {
    display: block;

    @media (min-width: $media-tablet) {
      display: none;
    }
  }

  &__mobile-button {
    position: relative;
    z-index: 1;
    display: block;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-out;

    &-line {
      width: 30px;
      height: 2px;
      background-color: $color-primary;
      transition: background-color 0.2s ease-out;

      &--dark {
        background-color: #000;
      }
    }

    &:hover {
      & .header__mobile-button-line {
        background-color: $color-light-s;

        &--dark {
          background-color: $color-primary;
        }
      }
    }

    &:active {
      & .header__mobile-button-line {
        background-color: $color-primary-light;
      }
    }

    &.--opened {
      transform: rotate(90deg);
    }

    @media (min-width: $media-tablet) {
      display: none;
    }
  }
}

.nav {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 36px;
  }

  @media (min-width: $media-tablet) {
    display: block;
  }
}

.mobile-nav {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 0;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &.--visible {
    opacity: 1;
    width: unset;
    overflow: visible;

    & .mobile-nav__list {
      transform: translateX(-100%);
    }

    & .mobile-nav__overlay {
      display: block;
      min-width: 100vw;
      min-height: 100vh;
      background-color: rgba($color-dark-3xl, 0.6);
    }
  }

  &__overlay {
    position: absolute;

    transition: background-color 1s ease-out;
    width: 0;
    height: 0;
    right: 0;
    content: "";
  }

  &__list {
    position: relative;
    right: -100%;
    height: calc(100% - 86px);
    padding: 43px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: $color-dark-3xl;
    transition: transform 0.2s ease-out;

    &--light {
      background-color: $color-light-xl;
    }
  }
}
