.pets {
  position: relative;
  background-color: $color-light-l;

  &__container {
    position: relative;
    padding: 42px 0;

    @media (min-width: $media-mobile-l) {
      padding: 80px 0 100px;
    }
  }

  &__title {
    margin-bottom: 42px;
    text-align: center;

    @media (min-width: $media-mobile-l) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    margin-bottom: 114px;

    @media (min-width: $media-tablet) {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}

$card: 270px;
$slider-gap-tablet: 12px;
$slider-gap-desktop: 53px;
$wrapper-tablet: calc(#{$card} * 2 + #{$slider-gap-tablet});
$wrapper-desktop: calc(#{$card} * 3 + #{$slider-gap-desktop} * 2);

:root {
  --translate-distance: -270px; // card

  @media (min-width: #{$media-mobile-l}) {
    --translate-distance: -564px; // 270 * 2 + 12 * 2 (для планшетов)
  }

  @media (min-width: #{$media-slider-max}) {
    --translate-distance: -969px; // 270px * 3 + 53 * 3 (для десктопов)
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--translate-distance)); // Используем переменную
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(var(--translate-distance)); // Используем переменную
  }
  100% {
    transform: translateX(0);
  }
}

.slider {
  position: relative;
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // row-gap: 20px;

  @media (min-width: $media-tablet) {
    // position: static;
  }

  &__wrapper {
    position: relative;
    overflow-x: hidden;
    width: $card;
    margin: 0 auto;
    padding: 0 10px;
    flex-grow: 1;

    outline: 2px solid red;

    @media (min-width: $media-mobile-l) {
      width: $wrapper-tablet;
    }
    @media (min-width: $media-slider-max) {
      width: $wrapper-desktop;
    }
  }

  &__list {
    position: relative;
    min-height: 431.09px;
    padding-bottom: 10px;
    display: flex;

    @media (min-width: $media-mobile-l) {
      column-gap: $slider-gap-tablet;
    }
    @media (min-width: $media-slider-max) {
      column-gap: $slider-gap-desktop;
    }

    &.--move-right {
      animation: slide-right 4s forwards;
    }

    &.--move-left {
      animation: slide-left 4s backwards;
    }
  }

  &__arrow-button {
    position: absolute;
    z-index: 1;
    bottom: -72px;
    left: 50%;
    transform: translateX(calc(-50% - 92px));

    @media (min-width: $media-tablet) {
      bottom: auto;
      top: 50%;
      left: 0;
      transform: translateX(0);
      transform: translateY(-50%);
    }

    &.--forward {
      left: 50%;
      transform: translateX(calc(-50% + 92px));

      @media (min-width: $media-tablet) {
        left: unset;
        transform: translateX(0);
        right: 0;
      }
    }
  }

  &__card {
    margin: 0 auto;

    @media (min-width: $media-mobile-l) {
      margin: 0;
    }
  }
}
