.pets {
  position: relative;
  background-color: $color-light-l;

  &__container {
    position: relative;
    padding: 42px 0;

    @media (min-width: $media-mobile-l) {
      padding: 80px 0 100px;
    }
  }

  &__title {
    margin-bottom: 42px;
    text-align: center;

    @media (min-width: $media-mobile-l) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    margin-bottom: 32px;

    @media (min-width: $media-mobile-l) {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-969px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(969px);
  }
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  // column-gap: 80px;
  row-gap: 20px;

  @media (min-width: $media-mobile-l) {
    display: block;
    // column-gap: 12px;
    // flex-wrap: nowrap;
  }

  @media (min-width: $media-desktop) {
    // gap: 53px;
  }

  &__wrapper {
    position: relative;
    overflow-x: hidden;
    width: 916px;
    margin: 0 auto;
    padding: 0 10px;

    outline: 2px solid red;
  }

  &__list {
    position: relative;
    min-height: 431.09px;
    padding-bottom: 10px;
    display: flex;
    column-gap: 53px;

    &.--move-right {
      animation: slide-right 4s forwards;
    }

    &.--move-left {
      animation: slide-left 4s backwards;
    }

    @media (min-width: $media-mobile-l) {
      // min-width: unset;
    }
  }

  &__arrow-button {
    order: 2;

    @media (min-width: $media-mobile-l) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      order: unset;
    }

    &.--forward {
      left: unset;
      right: 0;
    }
  }

  &__card {
    margin: 0 auto;

    @media (min-width: $media-mobile-l) {
      margin: 0;
    }
  }
}
