@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../../public/fonts/Georgia.woff2") format("woff2"),
    url("../../public/fonts/Georgia.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("../../public/fonts/ArialMT.woff2") format("woff2"),
    url("../../public/fonts/ArialMT.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ArialItalic";
  font-weight: 400;
  font-style: italic;
  src: url("../../public/fonts/Arial-Italic.woff2") format("woff2"),
    url("../../public/fonts/Arial-Italic.woff") format("woff");
  font-display: swap;
}

@mixin font-family-serif {
  font-family: Georgia, -apple-system, "Times New Roman", Garamond, serif;
}

@mixin font-family-sans {
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@mixin font-family-sans-italic {
  font-family: ArialItalic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
