@import "_reset.scss";
@import "_colors.scss";
@import "_constants.scss";
@import "_fonts.scss";

html {
  scroll-behavior: smooth;
}

body {
  @include font-family-serif;
  position: relative;
  font-weight: 400;
  color: $color-dark-l;
  background-color: $color-dark-m;
}

.img-in-picture {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}
